
<!-- Reset Password -->

<br/><br/>
<br/><br/>
<br/><br/>

<div class="container">  
  <div class="row">
    <br/><br/><br/>

    <div class="row-first">
      <img src="https://th.bing.com/th/id/R.4aa108082e7d3cbd55add79f84612aaa?rik=I4dbPhSe%2fbHHSg&riu=http%3a%2f%2fpurepng.com%2fpublic%2fuploads%2flarge%2fpurepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png&ehk=ewmaCOvP0Ji4QViEJnxSdlrYUrTSTWhi8nZ9XdyCgAI%3d&risl=&pid=ImgRaw&r=0" alt="Google_image" srcset="">
      <p class="fontSize-signin">Hi {{user.first_name}}</p>
      <div class="arrow-font">
          <mat-icon>person</mat-icon><label> {{user.email}} </label>
          <mat-icon >keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <br/>

    <div class="row-second">
      <form class="form-google">
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Email</mat-label>
          <input matInput name="email" [(ngModel)]="resetObj.email" #email="ngModel" minlength="8" required pattern="[A-Za-z0-9!#$%&*'_\-]+@[A-Za-z0-9_]+\.[a-z]{2,3}$"  >
        </mat-form-field>
        <span  *ngIf="email.invalid && (email.touched || email.dirty) ">
          <mat-hint *ngIf="email.errors?.['required']">This is Required</mat-hint>
          <mat-hint *ngIf="email.errors?.['minlength']">Min 3 characters needed</mat-hint>
          <mat-hint *ngIf="email.errors?.['pattern']">Pattern unmatched</mat-hint>
        </span>
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Password</mat-label>
          <input [type]="password? 'text':'password'" matInput name="password"  class="password" [(ngModel)]="resetObj.newPassword" #password="ngModel" minlength="8" 
          required pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*_{\-}+'>?`])[A-Za-z0-9!@#$%^&*_{\-}+'>?`]{8,16}$">
          <mat-icon class="eyeToggle" (click)="passwordToggle()" *ngIf="password">visibility</mat-icon>
          <mat-icon class="eyeToggle" (click)="passwordToggle()" *ngIf="!password">visibility_off</mat-icon>
          </mat-form-field>
          <br/>
          <span *ngIf="password.invalid && (password.touched || password.dirty)">
            <mat-hint id="errormessage"  *ngIf="password.errors?.['required']">this is required</mat-hint>
            <mat-hint id="errormessage"  *ngIf="password.errors?.['minlength']">Min 3 characters needed</mat-hint>
            <mat-hint id="errormessage"  *ngIf="password.errors?.['pattern']">Pattern unmatched</mat-hint>
          </span>
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Confirm Password</mat-label>
                  <input [type]="password2? 'text':'password'" matInput class="password" name="confirmPassword" [(ngModel)]="resetObj.confirmPassword" minlength="3" required>
                  <mat-icon class="eyeToggle" (click)="passwordToggle2()" *ngIf="password2">visibility</mat-icon>
                  <mat-icon class="eyeToggle" (click)="passwordToggle2()" *ngIf="!password2">visibility_off</mat-icon>

          </mat-form-field>
          <span>
            <mat-hint id="errormessage" *ngIf="resetObj.confirmPassword!=resetObj.newPassword">Password not matched</mat-hint>
          </span>
          <br/>
          
          <mat-checkbox color="primary">Show password</mat-checkbox>
      </form>
      <br/>
    </div>
  
    <br><br>
    <div class="row-fourth">
      <a href="" class="btn-create-account">
          Forget password?
      </a>
      <button mat-button mat-raised-button class="btn-next" (click)="formSubmitted()">
          Next
      </button>
    </div>
  </div>
  
  
  <br><br>
  <br/><br/>
  </div>
