<div [class]="noteTodo?'make-side-dark-card':'make-side-normal-card'">
    <mat-card [style.background-color]="notes.color"  [class]="noteTodo?'increaseCard':'decreaseCard'" >
        <mat-card-title (click)="notesIncrease()">
          <input type="text" [(ngModel)]="notes.title"   >
        </mat-card-title>
        <mat-card-content (click)="notesIncrease()">
          {{notes.description}}
        </mat-card-content>
        <mat-card-actions>
          <!-- <app-notes-icons [noteId]="notes.id"></app-notes-icons> -->
          <app-icons class="iconMargin" [NoteId]="notes.id"></app-icons><!--(colorChange)="handleEvent($event)"-->
          <button mat-button (click)="notesDecrease()" *ngIf="noteTodo">Close</button>
        </mat-card-actions>
      </mat-card>
</div>
