<div class="container">
    <div class="row">
        <div class="row-title">
            <button mat-icon-button class="account-button"><mat-icon >account_circle</mat-icon></button>
            <span>
                <p>Chat with jassa</p>
                <mat-hint>1243 messages</mat-hint>
            </span>
            <div class="video-icon">
                <button mat-icon-button ><mat-icon >videocam</mat-icon></button>
                <button mat-icon-button ><mat-icon >call</mat-icon></button>

            </div>
        </div>

        <div class="row-content">
            <div class="messages messages1">
                <button mat-icon-button ><mat-icon >account_circle</mat-icon></button>
                <span>
                    <p>Hi</p>
                    <mat-hint>8AM</mat-hint>
                </span>
            </div>
            <div class="messages messages2">
                <span>
                    <p>How are you</p>
                    <mat-hint>8AM</mat-hint>
                </span>
                <button mat-icon-button ><mat-icon >account_circle</mat-icon></button>
            </div>
            <div class="messages messages1">
                <button mat-icon-button ><mat-icon >account_circle</mat-icon></button>
                <span>
                    <p>Im fine and you</p>
                    <mat-hint>8AM</mat-hint>
                </span>
            </div>
            <div class="messages messages2">
                <span>
                    <p>fine</p>
                    <mat-hint>8AM</mat-hint>
                </span>
                <button mat-icon-button ><mat-icon >account_circle</mat-icon></button>
            </div>
            <div class="messages messages1">
                <button mat-icon-button ><mat-icon >account_circle</mat-icon></button>
                <span>
                    <p>Whar are you doing</p>
                    <mat-hint>8AM</mat-hint>
                </span>
            </div>
        </div>
        <div class="card-footer">
            <div>
                <button mat-icon-button ><mat-icon >attachment</mat-icon></button>
                <input type="text" placeholder="Type your message..">
                <button mat-icon-button ><mat-icon >send</mat-icon></button>
            </div>
        </div>

    </div>
</div>