
<br/>
<br/>
<br/>
<br/>

<div class="cardsOfNotes" >
    <ng-container *ngFor="let notes of usersPrint" >
      <!-- <app-note-cards [notes]="note"></app-note-cards> -->


      <div [class]="noteTodo?'make-side-dark-card':'make-side-normal-card'">
        <mat-card [style.background-color]="notes.color"  class="decreaseCard" *ngIf="noteTodo" >
            <mat-card-title (click)="notesIncrease(notes)">
              <p>{{notes.title}}</p>
            </mat-card-title>
            <mat-card-content (click)="notesIncrease(notes)">
              {{notes.description}}
            </mat-card-content>
            <mat-card-actions>
              <!-- <app-notes-icons [noteId]="notes.id"></app-notes-icons> -->
              <!-- <app-icons class="iconMargin" [NoteId]="notes.id" (toggleTrash)="handleTrash(notes)"></app-icons>(colorChange)="handleEvent($event)" -->
              <!-- <button mat-button (click)="notesDecrease()" *ngIf="noteTodo">Close</button> -->

              <button mat-icon-button matTooltip="Deleter forever" (click)="deleteNote(notes)"><mat-icon>delete_forever</mat-icon></button>
              <button mat-icon-button matTooltip="Restore" (click)="toggleTrash(notes)"><mat-icon> restore_from_trash</mat-icon></button>
            </mat-card-actions>
          </mat-card>
    </div>

    </ng-container>
  </div>


  <div class="toggleTrash" *ngIf="undoRedo">
    <button (click)="undo()">Undo</button>
  </div>
